Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: update setActive to use .is-active class for sidebar nav items
  frontend/src/js/shell.js
Due: eslint --fix, prettier --write

refactor: consolidate sidebar CSS and update to build b029
  frontend/src/assets/css/sidebar.css
  frontend/src/index.html
  frontend/src/js/gcal-hooks.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

refactor: simplify sidebar with max-content sizing and glow pill active state
  frontend/src/assets/css/sidebar-final.css
  frontend/src/index.html
  frontend/src/js/shell.js
Due: eslint --fix, prettier --write

fix: set fixed 280px sidebar width via inline style
  frontend/src/index.html
Due: none

feat: implement bulletproof sidebar layout with grid-template-areas
  frontend/src/assets/css/sidebar-final.css
  frontend/src/index.html
Due: none

fix: remove conflicting inline grid styles and add max-width constraint
  frontend/src/assets/css/sidebar-final.css
  frontend/src/index.html
Due: none

fix: properly load Google Identity Services script as classic script
  frontend/src/index.html
Due: none

fix: add oauth2.googleapis.com to CSP connect-src for Google OAuth
  firebase.json
Due: prettier --write

fix: enforce fixed 180px sidebar width to prevent expansion
  frontend/src/assets/css/sidebar-final.css
Due: none

fix: restore content-based sidebar sizing with 260px cap
  frontend/src/assets/css/sidebar-final.css
  frontend/src/index.html
Due: none

fix: remove conflicting width rules from z-overrides.css
  frontend/src/assets/css/z-overrides.css
Due: none

sidebar: canonical fit-content rail (≤260px), remove conflicting CSS & JS setters, revive active accent
  frontend/public/index.html
  frontend/src/assets/css/app-shell.css
  frontend/src/assets/css/grid-layout-fix.css
  frontend/src/assets/css/sidebar-final.css
  frontend/src/assets/css/sidebar.css
  frontend/src/assets/css/z-overrides.css
  frontend/src/js/ui/skeleton.js
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
  functions/test-results/junit.xml
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: remove last remaining grid-template-columns rule from layout.css
  frontend/src/assets/css/layout.css
Due: none

feat: add authoritative sidebar rail lock CSS with !important rules
  frontend/src/assets/css/z-overrides.css
Due: none

feat: add collision-proof calendar layout CSS with hourly grid system
  frontend/src/assets/css/calendar-uniform.css
Due: none

feat: add calendar view JS with hourly grid, overlap lanes, and now indicator
  frontend/src/js/calendar-view.js
Due: eslint --fix, prettier --write

feat: wire calendar view into router and add CSS link to index.html
  frontend/public/index.html
Due: none

feat: add Google Calendar integration with OAuth flow and event management
  frontend/src/js/calendar-integrated.js
  frontend/src/js/router.js
  frontend/src/js/services/gcal.js
Due: eslint --fix, prettier --write

fix: replace Google Sign-In with lite OAuth implementation to avoid CORS issues
  frontend/public/index.html
  frontend/src/js/calendar-integrated.js
  frontend/src/js/services/gcal-lite.js
Due: eslint --fix, prettier --write

fix: implement backend-only OAuth flow for Google Calendar
  frontend/public/index.html
  frontend/src/js/calendar-integrated.js
  frontend/src/js/services/gcal-backend.js
Due: eslint --fix, prettier --write

docs: add calendar integration flow documentation
  frontend/src/js/CALENDAR_INTEGRATION.md
Due: prettier --write

feat: add comprehensive CSP headers and security policies for Google Calendar
  firebase.json
Due: prettier --write

feat: implement minimal Google Calendar service with clean backend integration
  frontend/src/js/calendar-simple.js
  frontend/src/js/router.js
  frontend/src/js/services/gcal-minimal.js
Due: eslint --fix, prettier --write

feat: ultra-clean calendar implementation (<100 lines total)
  frontend/src/js/calendar-clean.js
  frontend/src/js/router.js
  frontend/src/js/services/gcal.js
Due: eslint --fix, prettier --write

refactor: exact calendar implementation as specified
  frontend/src/js/calendar-clean.js
Due: eslint --fix, prettier --write

refactor: clean minimal sidebar CSS with fit-content grid
  frontend/src/assets/css/sidebar-minimal.css
  frontend/src/assets/css/z-overrides.css
Due: none

feat: robust backend-only OAuth client for Google Calendar
  frontend/src/js/services/gcal.js
Due: eslint --fix, prettier --write

feat: add Google Calendar router for main API integration
  functions/lib/src/googleCalendar/router.d.ts
  functions/lib/src/googleCalendar/router.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/src/googleCalendar/router.ts
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

docs: add deployment summary with complete calendar integration details
  DEPLOYMENT_SUMMARY.md
Due: prettier --write

refactor: rename api function to apiFn for consistency
  firebase.json
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

refactor: consolidate all Google Calendar routes under /api/googleCalendar
  firebase.json
  frontend/src/js/services/google-calendar.js
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: simplify Google Calendar auth for testing
  functions/lib/src/googleCalendar/router.d.ts.map
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/src/googleCalendar/router.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

docs: add comprehensive testing guide for Google Calendar integration
  TESTING_GUIDE.md
Due: prettier --write

feat: MeetToMatch ICS integration (backend + UI), build b034
  firebase.json
  frontend/src/assets/css/hero-cards.css
  frontend/src/js/calendar-clean.js
  frontend/src/js/calendar-view.js
  frontend/src/js/m2m-hooks.js
  frontend/src/js/router.js
  frontend/src/js/services/gcal.js
  frontend/src/js/services/ggmail-ics.js
  frontend/src/js/services/ics.js
  frontend/src/js/services/m2m.js
  frontend/src/js/ui/m2m-modal.js
  frontend/src/js/ui/toast.js
  functions/lib/src/google.d.ts
  functions/lib/src/google.d.ts.map
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/lib/src/m2m.d.ts
  functions/lib/src/m2m.d.ts.map
  functions/lib/src/routes/m2m.d.ts
  functions/lib/src/routes/m2m.d.ts.map
  functions/package-lock.json
  functions/package.json
  functions/src/google.ts
  functions/src/index.ts
  functions/src/m2m.ts
  functions/src/routes/m2m.ts
  public/js/shell.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: integrate M2M events with calendar view merging
  frontend/src/js/calendar-clean.js
Due: eslint --fix, prettier --write

feat: add M2M badge on calendar event cards; build b035
  frontend/src/js/calendar-clean.js
  frontend/src/js/m2m-hooks.js
  frontend/src/js/router.js
  frontend/src/js/services/m2m.js
Due: eslint --fix, prettier --write

fix: resolve calendar module 404; add M2M badge & data-source; normalize ev.source; build b036
  frontend/src/js/calendar-clean.js
  frontend/src/js/events-controller.js
  frontend/src/js/m2m-hooks.js
  frontend/src/js/router.js
  frontend/src/js/services/m2m.js
Due: eslint --fix, prettier --write

fix: add favicon and demo M2M event for testing badges
  frontend/src/favicon.svg
  frontend/src/index.html
  frontend/src/js/calendar-clean.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
