Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: improve OAuth callback with HOSTING_ORIGIN and minimal HTML
  frontend/src/js/ui/add-to-calendar.js
  functions/lib/src/googleCalendar/router.d.ts.map
  functions/src/googleCalendar/router.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

refactor: clean gcal OAuth with ORIGIN check and improved message handling
  frontend/src/js/services/gcal.js
  frontend/src/js/views/calendar-providers.js
  public/js/services/gcal.js
Due: eslint --fix, prettier --write

feat: add clean gcal service with polling-based OAuth and ensureConnected pattern
  frontend/src/js/services/gcal-clean.js
  frontend/src/js/ui/add-to-calendar-clean.js
  frontend/src/js/views/calendar-providers.js
  public/js/services/gcal-clean.js
  public/js/ui/add-to-calendar-clean.js
  public/test-gcal-clean.html
Due: eslint --fix, prettier --write

feat: add simple addToCalendar wrapper functions for easy integration
  frontend/src/js/add-to-calendar-wrapper.js
  frontend/src/js/calendar-add-simple.js
  frontend/src/js/global-calendar-handler.js
  public/js/add-to-calendar-wrapper.js
  public/js/calendar-add-simple.js
  public/js/global-calendar-handler.js
  public/test-simple-calendar.html
Due: eslint --fix, prettier --write

docs: add critical note about credentials:include for Calendar API calls
  CALENDAR_API_NOTES.md
Due: prettier --write

gcal: ensure session before create; include credentials; export disconnect()
  frontend/src/js/services/google-calendar.js
Due: eslint --fix, prettier --write

fix: resolve ESLint errors for CI/CD
  functions/src/calendar/google.ts
  functions/src/google.ts
  functions/src/googleCalendar/router.ts
  functions/src/index.ts
  functions/src/routes/m2m.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: add routes and lib to Jest roots for module resolution
  functions/jest.config.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: add moduleNameMapper to Jest config for path resolution
  functions/jest.config.js
  functions/lib/src/calendar/google.d.ts.map
  functions/lib/src/google.d.ts.map
  functions/lib/src/googleCalendar/router.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/lib/src/routes/m2m.d.ts.map
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: mock invites and admin routers in test setup to avoid module resolution issues
  functions/jest.config.js
  functions/tests/setup.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: add ESLint disable comments for test setup mocks
  functions/tests/setup.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: correct mock return value for routers in test setup
  functions/tests/setup.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: export Express app as 'api' for testing
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: skip canonicalHost redirect in test environment
  functions/src/middleware/canonicalHost.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: deploy updated public JS files with gcal auth fixes
  public/js/google-calendar.js
Due: eslint --fix, prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

ci: OIDC-based Firebase deploy (Hosting + Functions)
  .github/workflows/ci.yml
Due: prettier --write

ci: add Firebase deploy workflow with service account auth
  .github/workflows/firebase-deploy.yml
Due: prettier --write

fix: consolidate workflows and add deployment setup docs
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/firebase-deploy.yml
  DEPLOYMENT_SETUP.md
Due: prettier --write

ci: deploy to Firebase via OIDC
  .github/workflows/deploy.yml
Due: prettier --write

ci: OIDC deploy to Firebase (Hosting + Functions)
  .github/workflows/deploy.yml
  .github/workflows/firebase-deploy.yml
Due: prettier --write

ci: recreate OIDC deploy workflow after accidental deletion
  .github/workflows/deploy.yml
Due: prettier --write

fix: build functions before deploying
  .github/workflows/deploy.yml
Due: prettier --write

fix: deploy hosting and functions separately to isolate issues
  .github/workflows/deploy.yml
Due: prettier --write

fix: correct import paths for invites and admin routers
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/lib/src/middleware/canonicalHost.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: add missing checkAuth module for invites router
  functions/functions/lib/checkAuth.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: add parties live ingestion system with Firestore caching
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/lib/src/jobs/ingest-parties.d.ts
  functions/lib/src/jobs/ingest-parties.d.ts.map
  functions/lib/src/routes/parties.d.ts
  functions/lib/src/routes/parties.d.ts.map
  functions/lib/src/services/parties-live.d.ts
  functions/lib/src/services/parties-live.d.ts.map
  functions/src/index.ts
  functions/src/jobs/ingest-parties.ts
  functions/src/routes/parties.ts
  functions/src/services/parties-live.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: move checkAuth.js to middleware directory
  functions/middleware/checkAuth.js
  functions/routes/invites.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: simplify onSchedule syntax for Firebase v2
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: lazy initialize Firestore to prevent deployment errors
  functions/lib/src/jobs/ingest-parties.d.ts.map
  functions/lib/src/services/parties-live.d.ts.map
  functions/src/jobs/ingest-parties.ts
  functions/src/services/parties-live.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: update admin.js to use middleware/checkAuth path
  functions/routes/admin.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: temporarily disable scheduled function to fix deployment
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: remove secrets config to fix deployment
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

chore(functions): add placeholder invites router to unblock deploy
  functions/src/routes/invites.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: nav polish + smart calendar + unified map/hotspots
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
  frontend/src/js/calendar-handler.js
  frontend/src/js/components/cards.js
  frontend/src/js/router.js
  frontend/src/js/services/calendar-smart.js
  frontend/src/js/unified-map.js
  functions/lib/src/routes/invites.d.ts
  functions/lib/src/routes/invites.d.ts.map
  test-sidebar.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: resolve function deployment issues
  frontend/src/js/calendar-add-handler.js
  frontend/src/js/calendar-click-handler.js
  frontend/src/js/calendar-handler.js
  frontend/src/js/ui/add-to-calendar-clean.js
  frontend/src/js/ui/add-to-calendar.js
  frontend/src/js/views/calendar-providers.js
  functions/lib/src/index.d.ts.map
  functions/lib/src/routes/admin.d.ts
  functions/lib/src/routes/admin.d.ts.map
  functions/src/index.ts
  functions/src/routes/admin.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
