Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "functions/**/*.{js,ts}": [
    "cd functions && npm run lint --fix",
    "cd functions && npm run test -- --findRelatedTests"
  ],
  "public/**/*.{js,css,html}": [
    "eslint --fix",
    "prettier --write"
  ]
}

feat: Connect all components to production backend
  frontend/src/assets/css/panels-production.css
  frontend/src/assets/js/account-panel.js
  frontend/src/assets/js/calendar-panel.js
  frontend/src/index.html
  functions/lib/src/routes/parties.d.ts.map
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: implement unified design tokens system
  frontend/src/assets/css/design-tokens.css
  frontend/src/assets/css/home.css
  frontend/src/assets/css/panels-2panel.css
  frontend/src/assets/css/panels-production.css
  frontend/src/index.html
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

chore: build and deploy with unified design tokens
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

feat: restore and modernize all UI components with consistent design
  .claude/agents/ui-designer.md
  frontend/src/assets/css/cards-modern.css
  frontend/src/assets/js/account-panel.js
  frontend/src/assets/js/api-lite.js
  frontend/src/assets/js/calendar-panel.js
  frontend/src/assets/js/contacts-panel.js
  frontend/src/assets/js/invites-lite.js
  frontend/src/assets/js/invites-panel.js
  frontend/src/index.html
  frontend/src/js/contacts-panel.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

feat: revolutionary party cards with Jobs-Ive design philosophy
  frontend/src/assets/css/party-cards-ive.css
  frontend/src/assets/css/party-flow-container.css
  frontend/src/assets/js/party-flow.js
  frontend/src/index.html
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

refactor: consistent two-column modern design throughout
  frontend/src/assets/css/party-carousel-modern.css
  frontend/src/assets/js/party-carousel-modern.js
  frontend/src/assets/js/router-modern.js
  frontend/src/index.html
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

feat: modernize party card component with CSS Grid and micro-interactions
  CLAUDE.md
  frontend/src/assets/css/party-cards-modern.css
  frontend/src/assets/js/party-card-interactions.js
  frontend/src/assets/js/party-carousel-modern.js
Due: eslint --fix, prettier --write

feat: deploy signature party card design system to production
  SIGNATURE_PARTY_CARDS.md
  frontend/src/assets/css/party-cards-signature.css
  frontend/src/assets/css/signature-modal.css
  frontend/src/assets/js/party-showcase-signature.js
  frontend/src/assets/js/signature-verification.js
  frontend/src/index.html
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

feat: deploy unified conference app with signature design
  frontend/src/assets/css/app-unified.css
  frontend/src/assets/js/app-unified.js
  frontend/src/assets/js/router-unified.js
  frontend/src/index.html
  functions/test-results/junit.xml
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

fix: correct API endpoints for unified app
  frontend/src/assets/js/api-lite.js
  frontend/src/assets/js/app-unified.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  test-live-app.js
Due: eslint --fix, prettier --write

docs: add comprehensive deployment report for v3.0.0
  DEPLOYMENT_REPORT.md
Due: prettier --write

fix: resolve critical API routing and CORS issues
  frontend/src/assets/js/api-lite.js
  frontend/src/assets/js/app-unified.js
  functions/lib/src/index.d.ts.map
  functions/lib/src/routes/invites-enhanced.d.ts.map
  functions/src/index.ts
  functions/src/routes/invites-enhanced.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

restore: bring back navigation with account, calendar, contacts, invites
  frontend/src/assets/js/app-unified.js
Due: eslint --fix, prettier --write

feat: add all 64 Gamescom 2025 events to API
  functions/lib/src/data/gamescom-2025-events.json
  functions/lib/src/routes/parties.d.ts.map
  functions/src/data/gamescom-2025-events.json
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: organize and clean up event display
  frontend/src/assets/css/party-list-organized.css
  frontend/src/assets/js/app-unified.js
  frontend/src/assets/js/party-list-organized.js
Due: eslint --fix, prettier --write

fix: resolve console errors and CSP issues
  firebase.json
  frontend/src/assets/js/app-unified.js
  frontend/src/index.html
Due: eslint --fix, prettier --write

build: complete PWA system build and deployment
  frontend/src/assets/css/account.css
  frontend/src/assets/css/app-unified.css
  frontend/src/assets/css/design-system-unified.css
  frontend/src/assets/css/party-list-organized.css
  frontend/src/assets/js/api-lite.js
  frontend/src/assets/js/app-unified.js
  frontend/src/index.html
  functions/src/data/gamescom-2025-all-67-events.json
  functions/src/data/gamescom-2025-real-events.json
  functions/src/routes/parties.ts
  functions/src/services/parties-live.ts
  functions/src/services/sheets-client.ts
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

build: add Firebase site configuration and rebuild PWA
  7-DAY-STABILITY-CHECKLIST.md
  GOOGLE_SHEETS_API_SETUP.md
  firebase.json
  frontend/src/assets/js/api-lite.js
  functions/lib/src/data/gamescom-2025-all-67-events.json
  functions/lib/src/data/gamescom-2025-real-events.json
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/lib/src/routes/parties.d.ts.map
  functions/lib/src/services/parties-live.d.ts.map
  functions/lib/src/services/sheets-client.d.ts
  functions/lib/src/services/sheets-client.d.ts.map
  functions/src/index.ts
  functions/test-results/junit.xml
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: resolve PWA manifest icon and screenshot errors
  firebase-auth.html
  frontend/src/images/screenshot-desktop.svg
  frontend/src/images/screenshot-mobile.svg
  frontend/src/manifest.json
  functions/lib/src/index.d.ts.map
  functions/test-results/junit.xml
Due: prettier --write

feat: add login and invite generation UI
  frontend/src/assets/js/app-unified.js
Due: eslint --fix, prettier --write

feat: implement invite redemption flow
  frontend/src/assets/js/app-unified.js
Due: eslint --fix, prettier --write

feat: add universal admin code with Quick Setup FTUE
  frontend/src/assets/js/app-unified.js
Due: eslint --fix, prettier --write

fix: ensure inviteData.sent is always an array to prevent undefined errors
  frontend/src/assets/js/app-unified.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

docs: add deployment report for undefined error fix
  DEPLOYMENT-2025-08-18.md
Due: prettier --write

feat: replace category pills with day-based filters (Wed-Sun)
  frontend/src/assets/js/party-list-organized.js
Due: eslint --fix, prettier --write

fix: correct day pills to show Mon-Fri as requested
  frontend/src/assets/js/party-list-organized.js
Due: eslint --fix, prettier --write

feat: implement working calendar sync for Google, Microsoft, and Meet To Match
  frontend/src/assets/css/app-unified.css
  frontend/src/assets/js/app-unified.js
Due: eslint --fix, prettier --write

feat: implement comprehensive GitHub code protection
  .github/CODEOWNERS
  .github/SECURITY.md
  .github/workflows/protection.yml
  .vscode/extensions.json
  frontend/src/assets/js/app-unified.js
  frontend/src/manifest.json
  functions/frontend/src/assets/icons/icon-128.png
  functions/frontend/src/assets/icons/icon-192.png
  functions/frontend/src/assets/icons/icon-256.png
  functions/frontend/src/assets/icons/icon-384.png
  functions/frontend/src/assets/icons/icon-48.png
  functions/frontend/src/assets/icons/icon-512.png
  functions/frontend/src/assets/icons/icon-72.png
  functions/frontend/src/assets/icons/icon-96.png
  functions/frontend/src/images/icon-128x128.png
  functions/frontend/src/images/icon-144x144.png
  functions/frontend/src/images/icon-152x152.png
  functions/frontend/src/images/icon-192x192.png
  functions/frontend/src/images/icon-256x256.png
  functions/frontend/src/images/icon-384x384.png
  functions/frontend/src/images/icon-512x512.png
  functions/frontend/src/images/icon-72x72.png
  functions/frontend/src/images/icon-96x96.png
  functions/lib/src/index.d.ts.map
  functions/lib/src/routes/parties.d.ts.map
  functions/src/index.ts
  functions/src/routes/parties.ts
  functions/test-results/junit.xml
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  tools/api-test-suite.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

docs: add security and protection badges to README
  README.md
Due: prettier --write

feat: implement comprehensive Report Generation System
  functions/test-results/junit.xml
Due: none

feat: add complete Report Generation System components
  frontend/dev-server.js
  frontend/src/api/auth/magic-link
  frontend/src/api/feature-flags
  frontend/src/api/users/exists
  frontend/src/assets/js/feature-flags.js
  frontend/src/gatherings.html
  frontend/src/intelligence-dashboard.html
  frontend/src/modern/chat/real-time-chat.js
  frontend/src/modern/components/chat-interface.js
  frontend/src/modern/components/gathering-create-flow.js
  frontend/src/modern/components/gathering-ui.js
  frontend/src/modern/executive/executive-dashboard.js
  frontend/src/modern/gatherings/gathering-engine.js
  frontend/src/modern/insights/personal-dashboard.js
  frontend/src/modern/intelligence/conference-analyzer.js
  frontend/src/modern/notifications/push-system.js
  frontend/src/modern/notifications/real-time-updates.js
  frontend/src/modern/performance/monitoring.js
  frontend/src/modern/performance/optimization.js
  frontend/src/modern/reports/pdf-generator.js
  frontend/src/modern/reports/report-generator.js
  frontend/src/modern/sharing/social-share.js
  frontend/src/modern/visualization/network-graph.js
  frontend/src/performance-dashboard.html
  frontend/src/test-chat.html
  package.json
  playwright.config.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  tests/e2e/gathering-creation.spec.js
  tests/integration/matchmaking.test.js
  tests/performance/load-tests.js
  tests/setup/global-setup.js
  tests/setup/global-teardown.js
Due: eslint --fix, prettier --write

fix: resolve events page blocking issues and improve UX
  frontend/src/assets/css/hero-system.css
  frontend/src/assets/css/mobile-fab-fix.css
  frontend/src/assets/js/app-demo.js
  frontend/src/assets/js/debug-overlay.js
  frontend/src/assets/js/feature-showcase.js
  frontend/src/assets/js/hero-landing.js
  frontend/src/assets/js/icon-gallery.js
  frontend/src/assets/js/icon-initializer.js
  frontend/src/assets/js/messaging-system.js
  frontend/src/assets/js/modal-failsafe.js
  frontend/src/assets/js/overlay-cleanup.js
  frontend/src/assets/js/overlay-panel.js
  frontend/src/assets/js/proximity-networking.js
  frontend/src/icon-gallery-demo.html
  frontend/src/index.html
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
Due: eslint --fix, prettier --write

feat: implement messaging interface and FTUE flow continuation
  frontend/src/assets/css/floating-buttons-unified.css
  frontend/src/assets/js/activity-feed.js
  frontend/src/assets/js/app-demo.js
  frontend/src/assets/js/demo-reset-button.js
  frontend/src/assets/js/hero-landing.js
  frontend/src/assets/js/icon-gallery.js
  frontend/src/assets/js/magic-link-auth.js
  frontend/src/assets/js/messaging-system.js
  frontend/src/assets/js/proximity-networking.js
  frontend/src/assets/js/smart-onboarding.js
  frontend/src/index.html
Due: eslint --fix, prettier --write

feat: add comprehensive feature showcase for Explore Features button
  frontend/src/assets/js/hero-landing.js
  frontend/src/index.html
Due: eslint --fix, prettier --write

fix: correct calendar times and FTUE flow continuation
  frontend/src/assets/js/proximity-networking.js
Due: eslint --fix, prettier --write

feat: update networking demo to MAU 2025 marketing tech context
  frontend/src/assets/js/proximity-networking.js
Due: eslint --fix, prettier --write
