Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix(events): syntax error + resilient render
  frontend/src/js/events-controller.js
Due: eslint --fix, prettier --write

feat(events): per-card Save&Sync + uniform card polish
  frontend/src/css/events-cards.css
Due: none

feat(hotspots): friendly empty state
  frontend/src/js/hotspots-controller.js
Due: eslint --fix, prettier --write

feat(account): initial account hub (read-only, auth buttons)
  frontend/src/js/account.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

📝 Document polish sprint batch 1 + PWA build
  CHANGELOG.md
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: prettier --write

feat(ui): rebuilt Slack-style sidebar (#channels + accent bar), uniform party cards with per-card Save&Sync, Account hub scaffold; brand alignment; two-panel shell
  frontend/src/assets/css/account-velocity.css
  frontend/src/assets/css/cards-velocity.css
  frontend/src/assets/css/sidebar-velocity.css
  frontend/src/index.html
  frontend/src/js/account-controller.js
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/nav-build.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

📦 Build, deploy, and document v2.7.0
  CHANGELOG.md
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: prettier --write

Fix: persistent sidebar, uniform party cards, account section UI
  frontend/src/css/style.css
  frontend/src/js/account.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

Fix: events controller error, account HTML, modal/button polish
  frontend/public/index.html
  frontend/src/css/style.css
  frontend/src/js/events-controller.js
Due: eslint --fix, prettier --write

feat(parties): infinite scroll + polished cards; fix titles & sidebar hash
  frontend/src/css/events.css
  frontend/src/index.html
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/route-title.js
Due: eslint --fix, prettier --write

feat(account): Account Hub v1 + sidebar stability and gear transform; polish accent bar
  frontend/src/css/account.css
  frontend/src/css/sidebar-polish.css
  frontend/src/index.html
  frontend/src/js/account-controller.js
  frontend/src/js/app-wireup.js
  frontend/src/js/router.js
  frontend/src/js/sidebar-stability.js
Due: eslint --fix, prettier --write

🚀 Frontend Polish Sprint Complete - v2.8.0
  CLAUDE.md
  public/js/cache-utils.js
  public/js/offline-search.js
  public/js/pwa-init.js
  public/manifest.json
  public/sw.js
  tools/data-backups/api-test-report-2025-08-12T22-26-58-974Z.json
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: eslint --fix, prettier --write

polish(routes+ui): stable titles/header, uniform event cards w/ per-card Save&Sync, Hotspots heatmap v1 (SVG)
  frontend/src/css/events-cards.css
  frontend/src/css/hotspots.css
  frontend/src/css/layout-polish.css
  frontend/src/index.html
  frontend/src/js/events-controller.js
  frontend/src/js/hotspots-controller.js
  frontend/src/js/route-title.js
Due: eslint --fix, prettier --write

feat(calendar+account+ftue): calendar v2 (week memory, compact, ICS/Google), Account hub (summary/invites/connections), FTUE address-book nudge
  frontend/src/css/account.css
  frontend/src/css/calendar.css
  frontend/src/css/ftue-nudge.css
  frontend/src/index.html
  frontend/src/js/account-hub.js
  frontend/src/js/calendar-view.js
  frontend/src/js/ftue-addressbook-prompt.js
Due: eslint --fix, prettier --write

Polish event cards layout & spacing
  frontend/src/css/cards.css
  frontend/src/index.html
  frontend/src/js/events-controller.js
  frontend/src/js/render-events.js
Due: eslint --fix, prettier --write

Fix sidebar width, align content, polish cards, add responsive grid
  frontend/src/css/cards.css
  frontend/src/css/layout.css
  frontend/src/js/render-events.js
Due: eslint --fix, prettier --write

Account hub: new view, styles, router integration; move sign-in to Account; alias settings→me
  frontend/src/css/account.css
  frontend/src/index.html
  frontend/src/js/account.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

🚀 Production Build & Deployment - Protected Code
  README.md
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  tools/data-backups/api-test-report-2025-08-13T00-52-42-547Z.json
  tools/data-backups/pwa-orchestrator-report-2025-08-13.json
Due: eslint --fix, prettier --write

Branding + sidebar stability + two-panel hotspots + dynamic titles (velocity.ai) + favicon
  frontend/src/css/layout.css
  frontend/src/images/veloc-v.svg
  frontend/src/index.html
  frontend/src/js/hotspots.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
  frontend/src/manifest.json
Due: eslint --fix, prettier --write

Guardrails: single bootstrap, export checks, cache control, SW no-HTML cache, build bump
  firebase.json
  frontend/src/index.html
  frontend/src/js/bootstrap.js
  frontend/src/js/env.js
  frontend/src/sw.js
  package.json
  tools/bump-build.js
Due: eslint --fix, prettier --write

Fix render functions to use #app element instead of #main - fixes TypeError issues
  frontend/src/index.html
  frontend/src/js/calendar-view.js
  frontend/src/js/env.js
  frontend/src/js/events-controller.js
  frontend/src/js/invite-panel.js
  frontend/src/js/map-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix: Implement stable router/shell/registry architecture
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/account.js
  frontend/src/js/env.js
  frontend/src/js/events-controller.js
  frontend/src/js/hotspot-controller.js
  frontend/src/js/invite-controller.js
  frontend/src/js/map-controller.js
  frontend/src/js/router.js
  frontend/src/js/view-registry.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/manifest.json
  public/sw.js
  tools/data-backups/api-test-report-2025-08-13T01-31-43-772Z.json
  tools/data-backups/pwa-orchestrator-report-2025-08-13.json
Due: eslint --fix, prettier --write

chore: add quick deploy, cache-safe headers, SW bypass, safe env defaults
  .bash_aliases
  SPEED_TIPS.md
  firebase.json
  frontend/src/index.html
  frontend/src/js/env.js
  frontend/src/js/sw-register.js
  package.json
  quick-deploy.sh
Due: eslint --fix, prettier --write

fix: sync build version updates
  frontend/src/index.html
Due: none

UI polish: two-panel layout, sidebar stability, brand align, #channel labels, uniform event cards with per-card Save & Sync, account section
  frontend/src/assets/svg/velocity-logo.svg
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/account.js
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/hotspots.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

Polish: calendar (week strip + .ics), invites panel, map venues; CSS refinements; stable two-panel visuals
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/calendar-view.js
  frontend/src/js/events-controller.js
  frontend/src/js/invite-panel.js
  frontend/src/js/map-controller.js
Due: eslint --fix, prettier --write

UI bundle: mobile sidebar width, stable sidebar render, route titles, branding
  frontend/src/assets/css/base.css
  frontend/src/css/sidebar.css
  frontend/src/images/velocity-icon.svg
  frontend/src/index.html
  frontend/src/js/route-title.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix: CSS loading & render guards to prevent undefined root errors
  frontend/src/index.html
  frontend/src/js/account.js
  frontend/src/js/calendar-view.js
  frontend/src/js/clear-cache.js
  frontend/src/js/events-controller.js
  frontend/src/js/hotspots.js
  frontend/src/js/invite-panel.js
  frontend/src/js/map-controller.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/manifest.json
  public/sw.js
  tools/cachebust.js
  tools/data-backups/pwa-orchestrator-report-2025-08-13.json
Due: eslint --fix, prettier --write

Dark override + snug layout: kill stray white backgrounds; keep cards; cache-bump
  frontend/src/assets/css/app.css
  frontend/src/assets/css/fix.css
  frontend/src/index.html
  frontend/src/js/route-title.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

Defensive UI: resilient buttons/badges/cards + dark overrides; sidebar width kept snug
  frontend/src/assets/css/app.css
  frontend/src/assets/css/fix.css
  frontend/src/index.html
Due: none

feat: Implement velocity invites v2 with single-use tokens
  firestore.rules
  functions/lib/src/api.d.ts
  functions/lib/src/api.d.ts.map
  functions/lib/src/auth.d.ts
  functions/lib/src/auth.d.ts.map
  functions/lib/src/db.d.ts
  functions/lib/src/db.d.ts.map
  functions/lib/src/env.d.ts
  functions/lib/src/env.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/lib/src/types.d.ts
  functions/lib/src/types.d.ts.map
  functions/package-lock.json
  functions/package.json
  functions/src/api.ts
  functions/src/auth.ts
  functions/src/db.ts
  functions/src/env.ts
  functions/src/index.ts
  functions/src/types.ts
  tools/invite-smoke.sh
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

Branding velocity.ai, polished favicon, Slack-style sidebar/order, FTUE overlay, Invites Hall of Fame, Calendar auth hooks, Metrics shim, CSP headers
  firebase.json
  frontend/src/assets/brand/v-logo.svg
  frontend/src/assets/css/cards.css
  frontend/src/assets/css/ftue.css
  frontend/src/assets/css/sidebar.css
  frontend/src/assets/css/tokens.css
  frontend/src/assets/icons/favicon.svg
  frontend/src/assets/icons/icon-192.png
  frontend/src/assets/icons/icon-512.png
  frontend/src/index.html
  frontend/src/js/calendar-view.js
  frontend/src/js/contacts.js
  frontend/src/js/ftue.js
  frontend/src/js/invite-panel.js
  frontend/src/js/map-controller.js
  frontend/src/js/me.js
  frontend/src/js/router.js
  frontend/src/js/settings.js
Due: eslint --fix, prettier --write

Onboarding & Install Pack: /install page, device-smart guidance, Android prompt, iOS steps, floating CTA, manifest/CSP updates
  firebase.json
  frontend/src/assets/css/install.css
  frontend/src/index.html
  frontend/src/install.html
  frontend/src/js/install-fab.js
  frontend/src/js/install-guide.js
  frontend/src/manifest.json
Due: eslint --fix, prettier --write

Account view: premium card with LinkedIn auto-populate + conditional role badge
  frontend/src/assets/css/account.css
  frontend/src/index.html
  frontend/src/js/linkedin-profile-handler.js
  frontend/src/js/me-controller.js
  frontend/src/js/profile-map.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix: code quality improvements
  frontend/src/js/me-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

Admin tools: dev-only Promote to Admin in Settings; unlimited single-use invites (∞); badges + settings polish
  frontend/src/assets/css/app.css
  frontend/src/index.html
  frontend/src/js/admin.js
  frontend/src/js/controllers/InvitePanelController.js
  frontend/src/js/router.js
  frontend/src/js/settings-panel.js
Due: eslint --fix, prettier --write

fix: improve error handling and import consistency
  frontend/src/js/me-controller.js
Due: eslint --fix, prettier --write

Fix: sidebar persistent + active state; Parties renders full grid with unlimited cards; CSS polish; layout guard
  frontend/src/assets/css/app.css
  frontend/src/index.html
  frontend/src/js/events-controller.js
  frontend/src/js/router.js
  frontend/src/js/sidebar.js
Due: eslint --fix, prettier --write

Invites + Account micro-MVP: functions endpoints, invites panel (codes + Hall of Fame), simple account hub
  frontend/src/assets/css/app.css
  frontend/src/js/account-panel.js
  frontend/src/js/invite-panel.js
  frontend/src/js/invites-api.js
  frontend/src/js/router.js
  functions/src/api.ts
  functions/src/invites.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: TypeScript index signature access for env variables
  functions/lib/src/api.d.ts.map
  functions/lib/src/invites.d.ts
  functions/lib/src/invites.d.ts.map
  functions/src/invites.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
