Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "functions/**/*.{js,ts}": [
    "cd functions && npm run lint --fix",
    "cd functions && npm run test -- --findRelatedTests"
  ],
  "public/**/*.{js,css,html}": [
    "eslint --fix",
    "prettier --write"
  ]
}

simplify: kill SW, isolate hero cards, normalize calendar grid, remove CSS collisions (build b021)
  frontend/src/assets/css/calendar-uniform.css
  frontend/src/assets/css/hero-cards.css
  frontend/src/index.html
  frontend/src/js/cache-utils.js
  frontend/src/js/kill-sw.js
  frontend/src/js/offline-search.js
  frontend/src/js/shell.js
  frontend/src/sw.js
  public/assets/css/calendar-uniform.css
  public/assets/css/hero-cards.css
  public/js/calendar-view.js
  public/js/events-controller.js
  public/js/kill-sw.js
  public/js/router.js
  public/sw.js
Due: eslint --fix, prettier --write

UI: restore hero cards (Parties) + calendar unified height; add isolated CSS (build b022)
  frontend/src/assets/css/calendar-uniform.css
  frontend/src/assets/css/hero-cards.css
  frontend/src/index.html
  frontend/src/js/calendar-view.js
  frontend/src/js/events-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

style: kill conflicting CSS, enforce blue/purple theme, unify buttons, keep hero cards (b022)
  frontend/src/assets/css/calendar-fit.css
  frontend/src/assets/css/cards-hero.css
  frontend/src/assets/css/events-cards.css
  frontend/src/assets/css/hero-cards.css
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/theme.css
  frontend/src/assets/css/tokens.css
  frontend/src/assets/design/compat.css
  frontend/src/css/app.css
  frontend/src/css/design-system.css
  frontend/src/css/layout.css
  frontend/src/css/main.css
  frontend/src/index.html
  frontend/src/js/analytics.js
  frontend/src/js/app-with-virtualization.js
  frontend/src/js/app.js
  frontend/src/js/bootstrap.js
  frontend/src/js/controllers/AppController.js
  frontend/src/js/hot-reload-integration.js
  frontend/src/js/monitoring-dashboard.js
  frontend/src/js/navigation.js
  frontend/src/js/pwa-init.js
  frontend/src/js/sw-register.js
Due: eslint --fix, prettier --write

feat(invites): Hall of Fame + Pending using .vcard hero cards
  frontend/src/js/invite-panel.js
Due: eslint --fix, prettier --write

chore: disable and remove Bulk Import from Invites (v1 scope)
  frontend/src/js/invite-panel.js.bak
Due: none

feat(invites): secure single-invite flow (create/revoke/redeem/my) + Hall of Fame; no bulk; auth required
  frontend/src/js/invite-panel.js
  frontend/src/js/services/invites.js
  functions/routes/invites.js
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: initialize Firebase admin in invites routes to prevent app/no-app error
  functions/routes/invites.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: resolve build issues - removed orphaned db.js files, fixed invites router path
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

chore(admin): add /api/admin/promoteByEmail (email lookup, auth-gated)
  functions/lib/src/index.d.ts.map
  functions/routes/admin.js
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat(settings): add self-promote-to-admin button (email-gated) [build b023]
  frontend/src/js/router.js
  frontend/src/js/settings-panel.js
Due: eslint --fix, prettier --write

feat(invites): wire frontend to protected invites API with Firebase Auth (build b023)
  frontend/src/index.html
  frontend/src/js/auth.js
  frontend/src/js/invite-panel.js
Due: eslint --fix, prettier --write

UI: unify hero cards across Parties/Calendar/Contacts/Invites/Me; align calendar to cards; scrollable main (build b023)
  frontend/src/assets/css/calendar-uniform.css
  frontend/src/assets/css/hero-cards.css
  frontend/src/index.html
  frontend/src/js/calendar-view.js
  frontend/src/js/contacts-panel.js
  frontend/src/js/events-controller.js
  frontend/src/js/me-panel.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix(ui): allow #main scroll by removing overflow:hidden from html/body/.app
  frontend/src/assets/css/layout.css
  frontend/src/assets/css/styles.css
Due: none

chore(shell): add id="app" wrapper for router contract
  frontend/src/index.html
Due: none

fix(layout): force main scroll; neutralize global overflow hidden via layout-lock
  frontend/src/index.html
Due: none

layout: fix sidebar (desktop fixed, mobile drawer) and enforce independent scroll in #main; ensure #app wrapper
  frontend/src/index.html
Due: none

visual: enforce unified dark hero cards/buttons across Parties/Calendar/Contacts via hero-cards.css + theme-patch.js
  frontend/src/assets/css/hero-cards.css
  frontend/src/index.html
  frontend/src/js/theme-patch.js
Due: eslint --fix, prettier --write

style: lock calendar row height to cards; sticky sidebar; main infinite scroll (z-overrides.css)
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
Due: none

fix(layout): force 2-column (flex) + sticky sidebar; main scroll; hide overlay rail
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
Due: none

layout: grid shell + sticky sidebar + scrollable #main; neutralize overlays; v=b023
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
Due: none

lock layout: fixed left sidebar + scrollable #main; unified hero cards; build b023
  frontend/src/assets/css/hero-cards.css
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
  tools/preflight.sh
Due: none

layout: shrinkwrap sidebar to widest channel via fit-content(max 280px); keep #main scroll
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
Due: none

feat: add Google API & GIS client scripts to index.html
  frontend/src/index.html
Due: none

feat: add calendar client service with authenticated API wrapper
  frontend/src/js/services/calendar-client.js
Due: eslint --fix, prettier --write

feat: add connectGoogle() OAuth flow handler with popup and auto-reload
  frontend/src/js/services/calendar-client.js
Due: eslint --fix, prettier --write

feat: add dayBounds() and loadUserEvents() for fetching user's calendar data
  frontend/src/js/services/calendar-client.js
Due: eslint --fix, prettier --write

feat: add addAndSync() with ICS fallback, toast notifications, and sync marking
  frontend/src/js/services/calendar-client.js
Due: eslint --fix, prettier --write

chore: update CSP for Google Calendar/Auth (apis.google.com, calendar.google.com)
  firebase.json
Due: prettier --write

feat: Google Calendar wiring (connect + add-to-calendar); global hooks; build b028
  frontend/src/js/calendar-view.js
  frontend/src/js/events-controller.js
  frontend/src/js/gcal-hooks.js
  frontend/src/js/router.js
  frontend/src/js/services/google-calendar.js
  functions/lib/src/calendar.d.ts
  functions/lib/src/calendar.d.ts.map
  functions/lib/src/calendar/google.d.ts
  functions/lib/src/calendar/google.d.ts.map
  functions/lib/src/index.d.ts
  functions/lib/src/index.d.ts.map
  functions/package-lock.json
  functions/package.json
  functions/routes/invites.js
  functions/src/calendar/google.ts
  functions/src/index.ts
  functions/test-results/junit.xml
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: add timezone support to Google Calendar integration (defaults to Europe/Berlin for Gamescom)
  frontend/src/js/gcal-hooks.js
  frontend/src/js/services/google-calendar.js
  functions/src/calendar/google.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: improve calendar button UX with busy states and automatic timezone detection
  frontend/src/js/gcal-hooks.js
  frontend/src/js/services/google-calendar.js
Due: eslint --fix, prettier --write

style: apply vcard hero card styling to invite panel UI
  frontend/src/js/invite-panel.js
Due: eslint --fix, prettier --write

fix: implement proper grid layout with fit-content sidebar sizing
  frontend/src/assets/css/grid-layout-fix.css
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
  frontend/src/js/invite-panel.js.bak2
Due: none

style: add sidebar rail styling with proper text overflow handling
  frontend/src/assets/css/sidebar-rail.css
  frontend/src/index.html
Due: none

feat: add gradient chip icons to sidebar navigation
  frontend/src/assets/css/sidebar-rail.css
Due: none
