Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: smart Add to Calendar with provider options
  frontend/src/assets/css/calendar-buttons.css
  frontend/src/index.html
  frontend/src/js/calendar-providers.js
  frontend/src/js/components/cards.js
  frontend/src/js/events-controller.js
  frontend/src/js/gcal-hooks.js
  frontend/src/js/services/gcal.js
Due: eslint --fix, prettier --write

feat: unified map view with markers and heatmap
  frontend/src/assets/css/z-overrides.css
  frontend/src/index.html
  frontend/src/js/router.js
  frontend/src/js/views/map.js
Due: eslint --fix, prettier --write

fix: remove purple dot from brand area
  frontend/src/index.html
Due: none

ci: enable workflow on pull requests
  .github/workflows/deploy.yml
Due: prettier --write

fix: resolve console errors and API issues
  frontend/src/js/auth.js
  frontend/src/js/views/map.js
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: resolve remaining console errors and API issues
  frontend/src/index.html
  frontend/src/js/calendar-providers.js
  frontend/src/js/gcal-hooks.js
  frontend/src/js/router.js
  frontend/src/js/views/calendar-providers.js
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: resolve console errors and improve error handling
  frontend/src/js/auth.js
  frontend/src/js/services/gcal-clean.js
  functions/lib/src/routes/parties.d.ts.map
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix: ensure parties API returns demo data when external sources fail
  functions/lib/src/calendar.d.ts
  functions/lib/src/calendar.d.ts.map
  functions/lib/src/lib/state.d.ts
  functions/lib/src/lib/state.d.ts.map
  functions/lib/src/routes/parties.d.ts.map
  functions/lib/src/session.d.ts
  functions/lib/src/session.d.ts.map
  functions/lib/tests/mocks.d.ts
  functions/lib/tests/mocks.d.ts.map
  functions/lib/tests/mocks/firebase-admin.d.ts
  functions/lib/tests/mocks/firebase-admin.d.ts.map
  functions/lib/tests/mocks/firebase-functions.d.ts
  functions/lib/tests/mocks/firebase-functions.d.ts.map
  functions/lib/tests/setup.d.ts
  functions/lib/tests/setup.d.ts.map
  functions/lib/tests/test-utilities.d.ts
  functions/lib/tests/test-utilities.d.ts.map
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: implement single-button Add to Calendar with smooth provider modal
  frontend/src/assets/css/calendar-modal.css
  frontend/src/index.html
  frontend/src/js/components/calendar-providers.js
  frontend/src/js/components/cards.js
  frontend/src/js/gcal-hooks.js
  frontend/src/js/services/gcal.js
  frontend/src/js/services/ics.js
Due: eslint --fix, prettier --write

feat: add Google Maps API script with visualization and marker libraries
  frontend/src/index.html
Due: none

fix: update Google Maps API key to production browser key
  frontend/src/index.html
  frontend/src/js/views/map.js
  frontend/src/maps.html
Due: eslint --fix, prettier --write

chore(maps): use restricted maps-browser-prod key and remove old includes
  frontend/src/calendar.html
  frontend/src/js/views/map.js
  frontend/src/maps.html
Due: eslint --fix, prettier --write

chore(map): remove deprecated heatmap and controls
  frontend/src/js/views/map.js
Due: eslint --fix, prettier --write

refactor(map): migrate to AdvancedMarkerElement
  frontend/src/js/views/map.js
Due: eslint --fix, prettier --write

fix(map): ensure init after Maps JS ready
  frontend/src/js/views/map.js
Due: eslint --fix, prettier --write

chore(dedupe): unify endpoints & services
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
  functions/test-parties-endpoint.js
  tools/dedupe-audit.sh
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: Complete MeetToMatch (MTM) integration with Google Calendar mirroring
  firestore.rules
  frontend/src/assets/css/main.css
  frontend/src/js/integrations/mtm.js
  frontend/src/js/settings-panel.js
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/src/integrations/google/auth.ts
  functions/src/integrations/mtm/function-config.ts
  functions/src/integrations/mtm/googleMirror.ts
  functions/src/integrations/mtm/router-v2.ts
  functions/src/integrations/mtm/router.ts
  functions/src/integrations/mtm/routes.ts
  functions/src/integrations/mtm/service.ts
  functions/src/integrations/mtm/sync.ts
  functions/src/integrations/mtm/types.ts
  functions/src/integrations/mtm/validator.ts
  functions/src/integrations/util/secrets.ts
  functions/src/lib/crypto.ts
  functions/src/middleware/auth.ts
  functions/src/models/mtm.ts
  functions/src/schedulers/mtm.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: wire style hooks into markup with proper card structure
  frontend/src/index.html
  frontend/src/js/events-controller.js
  frontend/src/js/views/parties.js
  package.json
  tools/update-build.js
Due: eslint --fix, prettier --write

refactor: improve card equalization with proper vgrid/vcard hooks
  frontend/src/js/app.js
  frontend/src/js/calendar-view.js
  frontend/src/js/equalize-cards.js
  frontend/src/js/events-controller.js
  frontend/src/js/ui/equalize-cards.js
  frontend/src/js/views/parties.js
Due: eslint --fix, prettier --write

feat: hook card equalization into router after view mounts
  frontend/src/js/app.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix: Update Google Calendar OAuth to use correct API routes
  frontend/src/js/events-controller.js
  frontend/src/js/gcal-hooks.js
  frontend/src/js/services/calendar-providers.js
  frontend/test-calendar-integration.html
Due: eslint --fix, prettier --write

feat: Wire map pins to open map view with location
  frontend/src/js/map-hooks.js
  frontend/src/js/router.js
  frontend/src/js/views/map.js
  frontend/src/js/views/parties.js
  frontend/test-map-pins.html
Due: eslint --fix, prettier --write

feat: Update sidebar to semantic HTML structure with SVG icons
  frontend/src/assets/css/sidebar-velocity.css
  frontend/src/js/shell.js
  frontend/test-sidebar-velocity.html
Due: eslint --fix, prettier --write

feat: Add modern enterprise sidebar styling
  frontend/src/assets/css/sidebar-modern.css
  frontend/src/assets/css/spacing-tokens.css
  frontend/src/index.html
  frontend/src/js/shell.js
Due: eslint --fix, prettier --write

feat: Add automatic sidebar active state sync with router
  frontend/src/js/router.js
  frontend/test-sidebar-sync.html
Due: eslint --fix, prettier --write

feat: Add subnav placeholders for parties and map sections
  frontend/src/index.html
Due: none

feat: Add enterprise subnav styling for day navigation
  frontend/src/assets/css/sidebar-modern.css
Due: none

feat: Add dynamic day navigation to sidebar subnavs
  frontend/src/index.html
  frontend/src/js/sidebar-map-subnav.js
  frontend/test-subnav-days.html
Due: eslint --fix, prettier --write

feat: Add day filtering to map view
  frontend/src/js/router.js
  frontend/src/js/views/map.js
Due: eslint --fix, prettier --write

docs: Add comprehensive BUILD-RUN-DEPLOY documentation
  BUILD-RUN-DEPLOY.md
Due: prettier --write

refactor: Revert to clean slate with minimal day filter placeholders
  frontend/src/assets/css/sidebar-modern.css
  frontend/src/index.html
  frontend/src/js/sidebar-map-subnav.js
  frontend/test-subnav-days.html
Due: eslint --fix, prettier --write

feat: Add minimal day subnav CSS without layout changes
  frontend/src/assets/css/day-subnav.css
  frontend/src/assets/css/spacing-tokens.css
  frontend/src/index.html
Due: none

feat: Add JavaScript to build and show day filters on matching routes
  frontend/src/assets/css/day-subnav.css
  frontend/src/index.html
  frontend/src/js/day-subnav.js
Due: eslint --fix, prettier --write

refactor(audit): add environment probe and shared library
  tools/design-audit/00_env_probe.sh
  tools/design-audit/_lib.sh
  tools/design-audit/component-audit.sh
  tools/design-audit/css-audit.sh
  tools/design-audit/run-all.sh
  tools/design-audit/token-check.sh
Due: none

feat(audit): add layout and navigation audit script
  tools/design-audit/10_layout_nav_audit.sh
  tools/design-audit/run-all.sh
Due: none

feat(audit): add comprehensive design system audit suite
  tools/design-audit/30_css_tokens_audit.sh
  tools/design-audit/40_maps_audit.sh
  tools/design-audit/50_calendar_audit.sh
  tools/design-audit/60_api_parties_audit.sh
  tools/design-audit/70_accessibility_audit.sh
  tools/design-audit/80_perf_bundle_audit.sh
  tools/design-audit/run-all.sh
Due: none

feat(audit): complete design audit suite with cards and duplication analysis
  tools/design-audit/20_cards_audit.sh
  tools/design-audit/90_duplication_audit.sh
  tools/design-audit/run-all.sh
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
