Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

docs(audit): add comprehensive README for design audit suite
  tools/design-audit/README.md
Due: prettier --write

fix(html): resolve all duplicate HTML IDs (P0 critical)
  frontend/src/analytics-dashboard.html
  frontend/src/calendar-demo.html
  frontend/src/calendar.html
  frontend/src/design-demo.html
  frontend/src/maps.html
  frontend/src/performance-test.html
  frontend/src/referral.html
  frontend/src/sidebar-design.html
  frontend/src/simple-editor-test.html
  frontend/src/test-ugc.html
  frontend/src/virtualized-events-demo.html
Due: none

fix(api): fix /parties endpoint 404 and normalize response (P0)
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
  functions/src/routes/parties.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

fix(security): rotate and secure API keys
  frontend/test-mtm-map.html
  functions/lib/src/index.d.ts.map
  functions/lib/src/services/parties-live.d.ts.map
  functions/src/index.ts
  functions/src/services/parties-live.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

refactor(css): consolidate sidebar styles to single source of truth
  frontend/src/assets/css/day-subnav.css
  frontend/src/assets/css/sidebar-final.css
  frontend/src/assets/css/sidebar-minimal.css
  frontend/src/assets/css/sidebar-modern.css
  frontend/src/assets/css/sidebar-rail.css
  frontend/src/assets/css/sidebar-subnav.css
  frontend/src/assets/css/sidebar-tokens.css
  frontend/src/assets/css/sidebar-velocity.css
  frontend/src/assets/css/sidebar.css
  frontend/src/css/sidebar-fix.css
  frontend/src/css/sidebar-polish.css
  frontend/src/css/sidebar.css
  frontend/src/index.html
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

perf: add defer/async to eliminate render-blocking scripts
  frontend/src/index.html
  frontend/src/maps.html
Due: none

feat(tokens): establish final color token taxonomy
  frontend/src/assets/css/color-tokens.old.css
  frontend/src/assets/css/tokens/README.md
  frontend/src/assets/css/tokens/color-compat.css
  frontend/src/assets/css/tokens/color-tokens.css
  frontend/src/index.html
Due: prettier --write

fix: production guardrails and critical fixes
  .github/workflows/deploy.yml
  .github/workflows/token-enforcement.yml
  _reports/audit-20250815.txt
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/tokens/accent-tokens.css
  frontend/src/index.html
  frontend/src/js/auth.js
  frontend/src/js/config/env.js
  frontend/src/js/maps.js
  frontend/src/js/nav-days.js
  frontend/src/js/smart-calendar.js
  frontend/src/maps.html
  functions/test-results/junit.xml
Due: eslint --fix, prettier --write

fix: allow OAuth popups with COOP header
  firebase.json
Due: prettier --write

fix: OAuth popup blocker workaround
  frontend/src/js/services/gcal-clean.js
  functions/functions/_reports/audit-post-merge.txt
Due: eslint --fix, prettier --write

fix: synchronous OAuth popup to prevent blockers
  frontend/src/js/components/calendar-providers.js
  frontend/src/js/services/gcal-clean.js
Due: eslint --fix, prettier --write

feat: improve OAuth callback UX
  functions/lib/src/googleCalendar/router.d.ts.map
  functions/src/googleCalendar/router.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: complete OAuth flow with postMessage
  frontend/src/index.html
  frontend/src/js/oauth-message-handler.js
  frontend/src/js/services/gcal-clean.js
Due: eslint --fix, prettier --write

fix(sidebar): resolve visual issues and style conflicts
  frontend/src/assets/css/sidebar.css
  frontend/src/assets/css/theme.css
  frontend/src/index.html
  frontend/src/js/router.js
  frontend/src/js/shell.js
  functions/test-results/junit.xml
Due: eslint --fix, prettier --write

fix(ci): temporarily disable design audit to allow sidebar deployment
  .github/workflows/deploy.yml
Due: prettier --write

UI: Replace rail with full-screen Panel Stack (Slack-style)
  frontend/src/assets/css/stack.css
  frontend/src/index.html
  frontend/src/js/panels/contacts.js
  frontend/src/js/panels/home.js
  frontend/src/js/panels/invites.js
  frontend/src/js/panels/map.js
  frontend/src/js/panels/me.js
  frontend/src/js/panels/openers.js
  frontend/src/js/panels/parties-day.js
  frontend/src/js/panels/providers-calendar.js
  frontend/src/js/panels/settings.js
  frontend/src/js/router.js
  frontend/src/js/stack.js
Due: eslint --fix, prettier --write

fix: Use relative API paths to avoid CORS issues
  firebase.json
  frontend/src/js/home-controller.js
  frontend/src/js/panels/home.js
  frontend/src/js/panels/map.js
  frontend/src/js/panels/parties-day.js
  frontend/src/js/panels/providers-calendar.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  tools/data-backups/pwa-orchestrator-report-2025-08-15.json
Due: eslint --fix, prettier --write

fix: API routing and JSON error handling
  firebase.json
  frontend/src/js/panels/home.js
  frontend/src/js/panels/map.js
  frontend/src/js/panels/parties-day.js
  frontend/src/js/utils/json-fetch.js
Due: eslint --fix, prettier --write

feat: Add minimal component set with channel rows
  frontend/src/assets/css/channel-row.css
  frontend/src/assets/css/panel-stack.css
  frontend/src/index.html
  frontend/src/js/components/channel-row.js
  frontend/src/js/components/demo.js
  frontend/src/js/panels/home.js
  frontend/src/js/stack.js
Due: eslint --fix, prettier --write

feat: Add minimal router helpers with push/pop panel management
  frontend/src/assets/css/panel-stack.css
  frontend/src/js/example-router-usage.js
  frontend/src/js/router-stack-enhanced.js
  frontend/src/js/router-stack.js
Due: eslint --fix, prettier --write

fix: Add party-days endpoint and fix contacts panel
  frontend/src/js/contacts-panel.js
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: Complete wire-up of panel stack flow
  frontend/src/assets/css/channel-row.css
  frontend/src/assets/css/components.css
  frontend/src/index.html
  frontend/src/js/init-app.js
  frontend/src/js/panels/home-wired.js
  frontend/src/js/panels/mount-calendar.js
  frontend/src/js/panels/mount-contacts.js
  frontend/src/js/panels/mount-invites.js
  frontend/src/js/panels/mount-map.js
  frontend/src/js/panels/mount-me.js
  frontend/src/js/panels/mount-parties.js
  frontend/src/js/panels/mount-settings.js
Due: eslint --fix, prettier --write

feat: add CSP headers, API caching, and observability
  AUDIT-REPORT.md
  firebase.json
  frontend/src/assets/css/base.css
  frontend/src/assets/css/components/buttons.css
  frontend/src/assets/css/components/cards.css
  frontend/src/assets/css/panel-stack.css
  frontend/src/assets/css/tokens/color-tokens.css
  frontend/src/index.html
  frontend/src/js/calendar-delegation.js
  frontend/src/js/init-app.js
  frontend/src/js/panels/home-wired.js
  frontend/src/js/panels/mount-parties.js
  frontend/src/js/router-stack.js
  frontend/src/js/router.js
  frontend/src/js/stack.js
  functions/lib/src/index.d.ts.map
  functions/lib/src/middleware/performance.d.ts
  functions/lib/src/middleware/performance.d.ts.map
  functions/lib/src/utils/logger.d.ts
  functions/lib/src/utils/logger.d.ts.map
  functions/src/index.ts
  functions/src/middleware/performance.ts
  functions/src/utils/logger.ts
  public/js/cache-utils.js
  public/js/offline-search.js
  public/sw.js
  test-sanity.js
  tools/data-backups/pwa-orchestrator-report-2025-08-15.json
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

security: implement strict CSP and security headers
  firebase.json
Due: prettier --write

perf: achieve sub-500ms API response times
  functions/lib/src/index.d.ts.map
  functions/lib/src/middleware/performance.d.ts.map
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  functions/src/middleware/performance.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat: add surgical button wiring with event delegation
  frontend/src/js/calendar/google-calendar.js
  frontend/src/js/calendar/ics.js
  frontend/src/js/init-app.js
  frontend/src/js/panels/mount-parties.js
  frontend/src/js/wire-buttons.js
Due: eslint --fix, prettier --write

refactor: minimal provider functions without UI changes
  frontend/src/js/calendar/google-calendar.js
  frontend/src/js/wire-buttons.js
Due: eslint --fix, prettier --write

refactor: ultra-minimal ICS generation
  frontend/src/js/calendar/ics.js
Due: eslint --fix, prettier --write

feat: wire buttons once on DOM ready
  frontend/src/js/init-app.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

feat: add comprehensive click & API wiring audit script
  audit-wiring.sh
Due: none

audit: nav/panels/cards focused report (no code changes)
  reports/AUDIT_SUMMARY.md
  reports/DOM_CHECK.md
  reports/NAV_PANELS_CARDS.md
Due: prettier --write

ui/nav-cards: add calendar button styles, canonical vcard override, fix CSP connect-src wildcard
  firebase.json
  frontend/src/assets/css/calendar-buttons.css
  frontend/src/assets/css/cards-final.css
  frontend/src/index.html
  frontend/src/js/day-subnav.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

feat: add production-ready calendar buttons handler
  frontend/src/js/router.js
  frontend/src/js/wire/calendar-buttons.js
Due: eslint --fix, prettier --write

refactor: extract calendar buttons to main.js entry point
  frontend/src/index.html
  frontend/src/js/main.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

feat: make all frontend API calls relative
  firebase.json
  frontend/src/js/api/calendar.js
  frontend/src/js/api/events.js
  frontend/src/js/api/invites.js
  frontend/src/js/calendar-integration.js
  frontend/src/js/deep-links.js
  frontend/src/js/invite.js
  frontend/src/js/referral-system.js
  frontend/src/js/services/api.js
  frontend/src/js/services/calendar-client.js
Due: eslint --fix, prettier --write

refactor: rewire duplicate basenames to canonical files (no behavior change)
  frontend/src/assets/css/components/calendar-buttons.css
  frontend/src/js/api.js
  frontend/src/js/components/map-integration.js
  frontend/src/js/services/gcal.js
  frontend/src/js/services/ics.js
  frontend/src/js/services/maps-loader.js
  frontend/src/js/ui/partyCard.js
  frontend/src/js/wire-buttons.js
  frontend/src/js/wiring/wire-calendar.js
  reports/01_loadmap.txt
  reports/02_dup-scan.txt
  reports/03_canonicals.json
  reports/DEAD_CODE_AUDIT.md
  reports/SIMPLE_DEAD_CODE_AUDIT.md
  tools/refactor/dup-scan.sh
  tools/refactor/loadmap.sh
  tools/refactor/rewire-canonicals.sh
  tools/refactor/rewire-to-canonicals.sh
  tools/refactor/select-canonicals.sh
Due: eslint --fix, prettier --write

chore(lint): forbid graveyard and legacy duplicate import paths
  .eslintrc.cjs
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
