Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

feat(build): add esbuild bundler with tree-shaking and code-splitting
  firebase.json
  frontend/src/js/wire-buttons.js
  package-lock.json
  package.json
  tools/design-audit/browser-verification.js
  tools/design-audit/dead-code-audit.sh
  tools/design-audit/dom-check.sh
  tools/design-audit/live-dom-audit.js
  tools/design-audit/nav-panels-cards-audit.sh
  tools/design-audit/simple-dead-code-audit.sh
  tools/refactor/build-simple.js
  tools/refactor/build.js
  tools/refactor/quarantine-dups.sh
Due: eslint --fix, prettier --write

build: introduce esbuild bundle with tree-shaking and code-splitting
  frontend/src/index.html
Due: none

polish: CSP fix, Maps guard, calendar wiring, card equal-heights, day-subnav gating
  firebase.json
  frontend/src/assets/css/calendar-buttons.css
  frontend/src/assets/css/cards-final.css
  frontend/src/assets/css/sidebar.css
  frontend/src/index.html
  frontend/src/js/day-subnav-gate.js
  frontend/src/js/main.js
  frontend/src/js/map-init.js
  frontend/src/js/wire-calendar-buttons.js
Due: eslint --fix, prettier --write

tokens: eliminate remaining hardcoded hex/px values
  .github/workflows/token-enforcement.yml
  frontend/src/assets/css/tokens/accent-tokens.css
  frontend/src/assets/css/tokens/border-tokens.css
  frontend/src/assets/css/tokens/container-tokens.css
  frontend/src/assets/css/tokens/text-tokens.css
  tools/design-audit/30_css_tokens_audit.sh
Due: prettier --write

fix: workflow syntax error - remove duplicate pull_request key
  .github/workflows/token-enforcement.yml
Due: prettier --write

fix: complete token migration - all px and hex values replaced
  frontend/src/assets/css/base.css
  frontend/src/assets/css/calendar-modal.css
  frontend/src/assets/css/calendar.css
  frontend/src/assets/css/cards-hero.css
  frontend/src/assets/css/channel-row.css
  frontend/src/assets/css/components/calendar-buttons.css
  frontend/src/assets/css/contacts-permission.css
  frontend/src/assets/css/emailSyncPrompt.css
  frontend/src/assets/css/events-cards.css
  frontend/src/assets/css/install.css
  frontend/src/assets/css/invites.css
  frontend/src/assets/css/main.css
  frontend/src/assets/css/pin-button.css
  frontend/src/assets/css/sidebar.css
  frontend/src/assets/css/stack.css
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/theme-unified.css
  frontend/src/assets/css/theme.css
  frontend/src/assets/css/z-overrides.css
Due: none

fix: final token migration - all remaining px values replaced
  frontend/src/assets/css/cards.css
  frontend/src/assets/css/event-cards.css
  frontend/src/assets/css/events-cards.css
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/theme-unified.css
Due: none

fix: complete CSS token migration - all px values replaced
  frontend/src/assets/css/account.css
  frontend/src/assets/css/animations.css
  frontend/src/assets/css/events-ftue.css
  frontend/src/assets/css/hero-cards.css
  frontend/src/assets/css/hotspots.css
  frontend/src/assets/css/styles.css
Due: none

fix: comprehensive token migration - all CSS files fixed
  frontend/src/assets/css/app-shell.css
  frontend/src/assets/css/button-secondary.css
  frontend/src/assets/css/calendar-button-single.css
  frontend/src/assets/css/calendar-uniform.css
  frontend/src/assets/css/cards-parties.css
  frontend/src/assets/css/components/buttons.css
  frontend/src/assets/css/components/calendar-buttons.css
  frontend/src/assets/css/components/cards.css
  frontend/src/assets/css/email-sync-popup.css
  frontend/src/assets/css/events-ftue.css
  frontend/src/assets/css/events.css
  frontend/src/assets/css/header-actions.css
  frontend/src/assets/css/layout.css
  frontend/src/assets/css/nav.css
  frontend/src/assets/css/panel-stack.css
  frontend/src/assets/css/party-cards.css
  frontend/src/assets/css/toast.css
Due: none

fix: final token migration - all transform values fixed
  frontend/src/assets/css/button-secondary.css
  frontend/src/assets/css/calendar-button-single.css
  frontend/src/assets/css/calendar-uniform.css
  frontend/src/assets/css/components/buttons.css
  frontend/src/assets/css/email-sync-popup.css
  frontend/src/assets/css/events-cards.css
  frontend/src/assets/css/events.css
  frontend/src/assets/css/hero-cards.css
Due: none

fix: exclude token files from hex color check
  .github/workflows/token-enforcement.yml
Due: prettier --write

fix: complete token migration - ignore archived dirs, eliminate remaining hex/px values
  .github/workflows/token-enforcement.yml
  migrate-tokens-final.sh
Due: prettier --write

fix: eliminate all remaining hardcoded hex colors - complete token migration
  frontend/src/assets/css/calendar-buttons.css
  frontend/src/assets/css/components/calendar-buttons.css
  frontend/src/assets/css/email-sync-popup.css
  frontend/src/assets/css/stack.css
  frontend/src/assets/css/styles.css
  frontend/src/css/account.css
  frontend/src/css/calendar-mtm.css
  frontend/src/css/calendar.css
  frontend/src/css/events-cards.css
  frontend/src/css/events.css
  frontend/src/css/ftue-nudge.css
  frontend/src/css/hotspots.css
  frontend/src/css/integrations.css
  frontend/src/css/layout-polish.css
  frontend/src/css/main.css
  frontend/src/css/sections.css
Due: none

feat(home): production polish—token-only CSS, clean layout, accessible day pills
  frontend/src/assets/css/cards-final.css
  frontend/src/assets/css/home.css
  frontend/src/index.html
  frontend/src/js/home-render.js
  frontend/src/js/panels/home-wired.js
  reports/2025-08-Home-AUDIT.txt
  reports/rc_pre_audit.txt
Due: eslint --fix, prettier --write

refactor: streamline home.css with cleaner class names
  frontend/src/assets/css/home.css
  frontend/src/js/home-render.js
  frontend/src/js/panels/home-wired.js
Due: eslint --fix, prettier --write

fix: add cache-busting version to home.css link
  frontend/src/index.html
Due: none

deploy: add home.css to hosting assets
  frontend/src/assets/css/home.css
Due: none

security: update CSP with specific script hash
  firebase.json
  frontend/src/assets/js/init-app.js
  frontend/src/assets/js/main.js
  frontend/src/assets/js/router-stack.js
  frontend/src/assets/js/stack.js
Due: eslint --fix, prettier --write

chore(home): ensure home.css is present so link resolves as text/css
  frontend/src/assets/css/home.css
Due: none

style(home): replace placeholder with real token-only home.css
  frontend/src/assets/css/home.css
Due: none

style(home): add token-first home.css and wire it in index.html
  frontend/src/assets/css/home.css
Due: none

style(cards): load cards-final.css last to stabilize card polish
  frontend/src/index.html
Due: none

style(home): ensure home.css then cards-final.css load last (permanent ordering)
  frontend/src/index.html
Due: none

style: ensure cards-final.css loads last; home.css second-last
  frontend/src/index.html
Due: none

fix(home): load home.css before cards-final.css (+cache bust)
  frontend/src/index.html
Due: none

fix(maps): remove placeholder Maps loader to prevent duplicate script includes
  frontend/src/js/panels/mount-map.js
Due: eslint --fix, prettier --write

fix(maps): use real API key with async loading and defer attribute
  frontend/src/index.html
Due: none

style(maps): improve script tag formatting with comment and multi-line layout
  frontend/src/index.html
Due: none

chore(maps): persist single async Maps loader with prod browser key
  frontend/src/index.html
Due: none

fix(maps): implement single Google Maps loader with robust async loading
  firebase.json
  frontend/src/csp-config.json
  frontend/src/index.html
  frontend/src/js/panels/mount-map.js
  frontend/src/js/services/google-maps-loader.js
  frontend/src/maps.html
  frontend/test-mtm-map.html
Due: eslint --fix, prettier --write

refactor(maps): simplify maps loader to minimal robust implementation
  frontend/src/js/panels/mount-map.js
  frontend/src/js/services/google-maps-loader.js
  frontend/src/js/services/maps-loader.js
Due: eslint --fix, prettier --write

feat(maps): harden map component with robust mounting and guards
  frontend/src/js/components/map-integration.js
  frontend/src/js/panels/mount-map.js
  frontend/src/js/panels/parties-day.js
  frontend/src/js/parties-infinite.js
Due: eslint --fix, prettier --write

feat(ci): add Maps loader safety check script
  tools/ci/check-maps-loader.sh
Due: none

chore: trigger deployment for Maps single loader changes
  .deployment-marker
Due: none

feat(maps): implement tiny loader API with dynamic key injection
  frontend/src/index.html
  frontend/src/js/services/maps-loader.js
  tools/ci/check-maps-loader.sh
Due: eslint --fix, prettier --write

fix(maps): use __INJECT_AT_BUILD__ placeholder in meta tag
  frontend/src/index.html
  frontend/src/js/services/maps-loader.js
Due: eslint --fix, prettier --write

refactor(maps): update entry points to use ensureMapsReady API
  frontend/src/js/components/map-integration.js
  frontend/src/js/panels/mount-map.js
Due: eslint --fix, prettier --write

chore: clean up and verify Maps configuration
  .gitignore
Due: none

feat(maps): add smoke test utility for console debugging
  frontend/src/js/services/maps-smoke.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
