Repository jamstermayne/conference-party-microservice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

📚 Document Hotspots feature in CLAUDE.md
  CLAUDE.md
Due: prettier --write

🚀 Add /api/hotspots to Service Worker cache patterns
  public/sw.js
Due: eslint --fix, prettier --write

🔥 Implement Phase 1 - Heatmaps Backend with Firestore
  functions/lib/src/aggregation.d.ts
  functions/lib/src/aggregation.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/lib/src/seed-hotspots.d.ts
  functions/lib/src/seed-hotspots.d.ts.map
  functions/package.json
  functions/src/aggregation.ts.bak
  functions/src/index.ts
  functions/src/seed-hotspots.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

✨ Implement production-ready hotspots endpoint with persona aggregation
  functions/lib/src/hotspots.d.ts
  functions/lib/src/hotspots.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/src/hotspots.ts
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

🧹 Remove dead code and unused files
  functions/lib/src/aggregation.d.ts
  functions/lib/src/aggregation.d.ts.map
  functions/lib/src/seed-hotspots.d.ts
  functions/lib/src/seed-hotspots.d.ts.map
  functions/package.json
  functions/src/aggregation.ts.bak
  functions/src/seed-hotspots.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

✨ Major Frontend Polish: Hotspots, FTUE, Calendar & Maps
  functions/lib/src/index.d.ts.map
  functions/src/index.ts
  public/assets/css/events.css
  public/assets/css/hotspots.css
  public/assets/css/nav.css
  public/assets/css/styles.css
  public/assets/js/featureFlags.js
  public/index.html
  public/js/app-wireup.js
  public/js/app.js
  public/js/calendar-integration.js
  public/js/events-controller.js
  public/js/ftue-progress.js
  public/js/hotspots-controller.js
  public/js/install.js
  public/js/nav-maps.js
  public/js/router-enhanced.js
  public/js/router.js
  public/manifest.json
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

📚 Document Drop F implementation and deployment log
  docs/DEPLOYMENT-LOG-2025-08-12.md
  docs/DROP-F-IMPLEMENTATION.md
  frontend/src/css/layout-polish.css
  frontend/src/css/panels.css
  frontend/src/index.html
  frontend/src/js/app-wireup.js
  frontend/src/js/hotspots.js
  frontend/src/js/layout-snap.js
  frontend/src/js/map.js
  frontend/src/js/parties-polish.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
  frontend/src/manifest.json
  frontend/src/sw.js
Due: eslint --fix, prettier --write

🐛 Fix lint error: Add comment to empty catch block
  functions/src/index.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

🔧 Fix CI/CD failures - Remove ES module configuration
  package.json
Due: prettier --write

🔧 Fix dev server for CI/CD - Replace Express with simple HTTP server
  .github/workflows/frontend-smoke.yml
  functions/src/hotspots.ts
  package-lock.json
  package.json
  tools/data-backups/api-test-report-2025-08-12T16-11-48-007Z.json
  tools/data-backups/api-test-report-2025-08-12T16-11-54-851Z.json
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
  tools/simple-dev-server.js
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

🔧 Fix smoke test to check basic page load
  .github/workflows/frontend-smoke.yml
Due: prettier --write

🔧 Fix CI/CD permissions and configuration issues
  .github/workflows/code-quality.yml
  .github/workflows/danger.yml
  .github/workflows/security-audit.yml
Due: prettier --write

🗑️ Remove Danger JS - Unnecessary complexity
  .github/workflows/danger.yml
  dangerfile.js
Due: eslint --fix, prettier --write

🎯 Simplify CI/CD - Remove unnecessary complexity
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/deploy-clean.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend-smoke.yml
  .github/workflows/protection.yml
  .github/workflows/security-audit.yml
  .github/workflows/test-and-deploy.yml
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

🐛 Fix test - Update expected version to 2.1.0
  functions/tests/api-foundation.test.ts
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

✨ Drop G - Parties Card Polish + Loaders + A11y
  frontend/src/css/cards-parties.css
  frontend/src/index.html
  frontend/src/js/parties-polish.js
Due: eslint --fix, prettier --write

✨ Drop H - Hotspots Heatmap + Calendar Strip + Toast UI
  frontend/src/assets/css/hotspots.css
  frontend/src/css/calendar-strip.css
  frontend/src/css/toast.css
  frontend/src/index.html
  frontend/src/js/calendar-strip.js
  frontend/src/js/hotspots-polish.js
  frontend/src/js/toast.js
Due: eslint --fix, prettier --write

✨ Drop I - Invite Panel Growth Loop Enhancements
  frontend/src/css/invite-panel.css
  frontend/src/index.html
  frontend/src/js/invite-growth-loop.js
Due: eslint --fix, prettier --write

✨ Drop J: Brand Alignment + velocity.ai Logo Package
  frontend/src/assets/icons/icon-192.png
  frontend/src/assets/icons/icon-512.png
  frontend/src/assets/icons/velocity-logo.svg
  frontend/src/css/layout.css
  frontend/src/index.html
  frontend/src/js/nav.js
  frontend/src/manifest.json
Due: eslint --fix, prettier --write

✨ Add Accent Rail System - Glowing gradient navigation indicators
  frontend/src/assets/css/styles.css
  frontend/src/css/layout.css
  frontend/src/index.html
  frontend/src/js/router.js
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: eslint --fix, prettier --write

✨ Accent Rail Patch - Clean implementation without router changes
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/rail-autowrap.js
  frontend/src/js/rail-sync.js
Due: eslint --fix, prettier --write

✨ Slack-Style Sidebar with Blue Accent Rails
  frontend/src/css/sections.css
  frontend/src/css/sidebar.css
  frontend/src/index.html
  frontend/src/js/app-wireup.js
  frontend/src/js/router.js
  frontend/src/js/sidebar.js
Due: eslint --fix, prettier --write

🔧 HOTFIX: Restore clean two-pane layout
  frontend/src/assets/css/app-shell.css
  frontend/src/index.html
Due: none

📦 Build and deploy - PWA system update
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: prettier --write

🔧 Three quick fixes
  frontend/src/assets/css/app-shell.css
  frontend/src/css/sidebar.css
Due: none

Revert "🔧 Three quick fixes"
  frontend/src/assets/css/app-shell.css
  frontend/src/css/sidebar.css
Due: none

✨ Kappa Patch: Clean route titles + account placement
  frontend/src/assets/css/header-actions.css
  frontend/src/index.html
  frontend/src/js/me-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

🔧 Four quality improvements
  frontend/src/assets/css/app-shell.css
  frontend/src/css/loading.css
  frontend/src/index.html
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

✨ Premium Polish Patch - Sidebar, Cards & Account
  frontend/src/assets/css/events-cards.css
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/events-controller.js
  frontend/src/js/me-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

✨ Account Hub - Comprehensive profile & network dashboard
  frontend/src/assets/css/account.css
  frontend/src/assets/svg/user.svg
  frontend/src/index.html
  frontend/src/js/controllers/account-controller.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

✨ Patch L: Persistent layout + premium event cards
  FRONTEND-POLISH-SUMMARY.md
  frontend/src/assets/css/events-cards.css
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/router.js
  functions/lib/src/hotspots.d.ts
  functions/lib/src/hotspots.d.ts.map
  functions/lib/src/index.d.ts.map
  functions/test-results/junit.xml
  public/js/cache-utils.js
  public/js/offline-search.js
  public/js/pwa-init.js
  public/manifest.json
  public/sw.js
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: eslint --fix, prettier --write, cd functions && npm run lint --fix, cd functions && npm run test -- --findRelatedTests

🔧 Fix router imports and API endpoints
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/http.js
  frontend/src/js/route-title.js
Due: eslint --fix, prettier --write

🎨 Complete fix: Router, events API, sidebar structure
  frontend/src/css/app.css
  frontend/src/index.html
  frontend/src/js/account.js
  frontend/src/js/calendar-view.js
  frontend/src/js/events-controller.js
  frontend/src/js/hotspots-controller.js
  frontend/src/js/http.js
  frontend/src/js/invite-panel.js
  frontend/src/js/map-controller.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

🎨 Polish: Sidebar hardening + per-card Save & Sync
  frontend/src/css/app.css
  frontend/src/js/events-controller.js
Due: eslint --fix, prettier --write

✨ Complete implementation: Per-card Save & Sync with persistence
  frontend/src/assets/css/events-cards.css
  frontend/src/index.html
  frontend/src/js/account-controller.js
  frontend/src/js/account.js
  frontend/src/js/calendar-sync.js
  frontend/src/js/events-controller.js
  frontend/src/js/selection-store.js
Due: eslint --fix, prettier --write

🚀 Production Release v2.5.0 - Premium UI & Account Hub
  RELEASE_NOTES.md
  frontend/src/assets/css/party-cards.css
  frontend/src/css/account.css
  frontend/src/css/events-cards.css
  frontend/src/css/sidebar-fix.css
  frontend/src/index.html
  frontend/src/js/account-controller.js
  frontend/src/js/app-wireup.js
  frontend/src/js/events-controller.js
  frontend/src/js/parties-infinite.js
  frontend/src/js/party-cards.js
  frontend/src/js/route-title.js
  frontend/src/js/router.js
  public/js/cache-utils.js
  public/js/offline-search.js
  public/js/pwa-init.js
  public/manifest.json
  public/sw.js
  tools/data-backups/pwa-orchestrator-report-2025-08-12.json
Due: eslint --fix, prettier --write

🧹 Remove hot-reload server and simplify dev setup
  CLAUDE.md
  package.json
  tools/dev-accelerator.js
  tools/hot-reload-config.js
  tools/hot-reload-server.js
Due: eslint --fix, prettier --write

fix(ui/sidebar): stable render + single-hash labels
  frontend/src/js/router.js
Due: eslint --fix, prettier --write

fix(router): safe route title + remove duplicate header tag
  frontend/src/js/app-wireup.js
  frontend/src/js/route-title.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts,tsx}) or (any of: public/**/*.{js,css,html})
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: public/**/*.{js,css,html})
  cd functions && npm run lint --fix: any of: functions/**/*.{js,ts}
  cd functions && npm run test -- --findRelatedTests: any of: functions/**/*.{js,ts}
